<div class="card mb-3">
  <h2 class="card-header h4">
    Bookmark Status #<%= bookmark_status.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Bookmark</dt>
      <dd>
        <% if @bookmark_status.bookmark.present? %>
          <%= link_to bookmark_status.bookmark, bookmark_status.bookmark %>
        <% end %>
      </dd>

      <dt>Bookmark status</dt>
      <dd><%= bookmark_status.bookmark_status %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back bookmark_status, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_bookmark_status_url(bookmark_status), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to bookmark_status, method: :delete, data: { confirm: "Do you really want to delete this bookmark_status?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(bookmark_status.updated_at) %> ago
  </div>
</div>
