<% was_validated = movie.errors.any? %>

<%= form_with(model: movie, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for movie_id start -->
  <div class="form-group">
    <% movie_class = "form-control" %>
    <% movie_was_invalid = movie.errors.include?(:movie) %>

    <% if was_validated %>
      <% if movie_was_invalid %>
        <% movie_class << " is-invalid" %>
      <% else %>
        <% movie_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :movie_id %>
    <!-- Input for movie_id start -->
    <%= f.number_field :movie_id, class: movie_class, placeholder: "Enter movie" %>
    <!-- Input for movie_id end -->
    <% if movie_was_invalid %>
      <% movie.errors.full_messages_for(:movie).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for movie_id end -->
  <!-- Label and input for movie_name start -->
  <div class="form-group">
    <% movie_name_class = "form-control" %>
    <% movie_name_was_invalid = movie.errors.include?(:movie_name) %>

    <% if was_validated %>
      <% if movie_name_was_invalid %>
        <% movie_name_class << " is-invalid" %>
      <% else %>
        <% movie_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :movie_name %>
    <!-- Input for movie_name start -->
    <%= f.text_field :movie_name, class: movie_name_class, placeholder: "Enter movie name" %>
    <!-- Input for movie_name end -->
    <% if movie_name_was_invalid %>
      <% movie.errors.full_messages_for(:movie_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for movie_name end -->
  <!-- Label and input for movie_description start -->
  <div class="form-group">
    <% movie_description_class = "form-control" %>
    <% movie_description_was_invalid = movie.errors.include?(:movie_description) %>

    <% if was_validated %>
      <% if movie_description_was_invalid %>
        <% movie_description_class << " is-invalid" %>
      <% else %>
        <% movie_description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :movie_description %>
    <!-- Input for movie_description start -->
    <%= f.text_field :movie_description, class: movie_description_class, placeholder: "Enter movie description" %>
    <!-- Input for movie_description end -->
    <% if movie_description_was_invalid %>
      <% movie.errors.full_messages_for(:movie_description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for movie_description end -->
  <!-- Label and input for movie_duration start -->
  <div class="form-group">
    <% movie_duration_class = "form-control" %>
    <% movie_duration_was_invalid = movie.errors.include?(:movie_duration) %>

    <% if was_validated %>
      <% if movie_duration_was_invalid %>
        <% movie_duration_class << " is-invalid" %>
      <% else %>
        <% movie_duration_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :movie_duration %>
    <!-- Input for movie_duration start -->
    <%= f.text_field :movie_duration, class: movie_duration_class, placeholder: "Enter movie duration" %>
    <!-- Input for movie_duration end -->
    <% if movie_duration_was_invalid %>
      <% movie.errors.full_messages_for(:movie_duration).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for movie_duration end -->
  <!-- Label and input for movie_year start -->
  <div class="form-group">
    <% movie_year_class = "form-control" %>
    <% movie_year_was_invalid = movie.errors.include?(:movie_year) %>

    <% if was_validated %>
      <% if movie_year_was_invalid %>
        <% movie_year_class << " is-invalid" %>
      <% else %>
        <% movie_year_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :movie_year %>
    <!-- Input for movie_year start -->
    <%= f.text_field :movie_year, class: movie_year_class, placeholder: "Enter movie year" %>
    <!-- Input for movie_year end -->
    <% if movie_year_was_invalid %>
      <% movie.errors.full_messages_for(:movie_year).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for movie_year end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
