<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @user_detail, partial: "card", as: :user_detail %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "user_details/user_detail_bookmark_statuses" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "user_details/user_detail_review_details" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "user_details/user_detail_movies_bookmarks" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "user_details/user_detail_movies_reviews" %>
  </div>
</div>
